spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: client-service-route
              uri: lb://CLIENT-SERVICE
              predicates:
                - Path=/client-service/**
              filters:
                - StripPrefix=1
            - id: routing-service-route
              uri: lb://ROUTING
              predicates:
                - Path=/routing/**
              filters:
                - StripPrefix=1
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: localhost