spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: client-service-route
              uri: lb://CLIENT-SERVICE
              predicates:
                - Path=/client-service/**
              filters:
                - StripPrefix=1
            - id: routing-service-route
              uri: lb://ROUTING
              predicates:
                - Path=/routing/**
              filters:
                - StripPrefix=1
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ADDRESS:http://localhost:8080}/realms/${KEYCLOAK_REALM:master}

server:
  port: ${SERVER_PORT:8080}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.uuid}