# Eureka Discovery Server
# Запуск: docker-compose up -d

services:
  discovery:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: discovery
    ports:
      - "8761:8761"
    networks:
      - infra-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8761/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

networks:
  infra-network:
    name: infra-network
    external: true
